
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F7F7F7;

}

.jumbotron{
  background-color: #F7F7F7;
  margin-bottom: 0px;
}

#works {
  text-align: center;}

#whoup{
  text-align: center;
  margin: 10px;
}
#prox {
  text-align: center;
  margin: 10px;
}

#social-links ul{
  text-align: center;
  font-size: 1em;
}

li{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

a:link{
  color: #000000;
}

a:visited{
  color: #000000;
}

a:active{
  color: #000000;
}
a:hover{
  color: #231123;
}
